* {
    margin: 0;
    padding: 0;
} 
.a{
    position: absolute;
}
.b{
    position: relative;
}

.leader{
    height: 475px;
    background: #656CEC;
    border-bottom-right-radius: 64px;
    border-bottom-left-radius: 64px;

}

.Leaderboard{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #FFFFFF;
}

.line1{
    
    top: 0px;
    height: 0px;
    left: 0px;
    display: flex;
    border: 2px solid #FFFFFF;
}
.pos{
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background-color: #BABEFF;
    border-radius: 50%;
    width: 30px;
    align-items: center;
}

.frame{
    top:40px;
    width: 172px;
    height: 172px;
    left: 5%;
}

.img23{
    border-radius: 50%;
    top:50px;
    left: 9.6px;
    left: 10%;
}

.frame1{
    top:40px;
    width: 230.97px;
    height: 230.97px;
    left: 5%;
}
.img1{
    top:51.5px;
    left:10%;
    border-radius: 50%;
}
.letter{
    left: 45%;
    align-self: center;
    width: 40px;
}
.letter1{
    left: 45%;
    align-self: center;
    width: 40px;
}

.bo{
    display: inline-flex;
    top: 40px;
    border-radius: 16px;
    background-color: #BABEFF;
    height: 32px;
    padding-top: 5px;
    padding-left: 15px;
    width: 172px;
}

.bo1{
    display: inline-flex;
    top: 40px;
    border-radius: 24px;
    background-color: #BABEFF;
    height: 42.97px;
    padding-top: 5px;
    padding-left: 10px;
    width: 250px;
}


.photoframe_2{
    top: 190px;
    left:17%;
    width: 172px;
    align-content:center;
}

.photoframe_3{
    top:190px;
    right: 17%;
    width:172px;
    align-content: center;
}
.photoframe_1{
    
    width: 250px;
    height: 230.97px;
    left: 42%;
    top: 127px;

}

.text1{
    max-width: 330px;
    line-height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: larger;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
}

.text23{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    max-width: 172px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 3px;
    padding-right: 7px;
    padding-top: 2px;
}

.dot{
    
    width: 4px;
    height: 4px;
    top: 12px;
}

.dot1{
    
    width: 6px;
    height: 6px;
    top: 16px;
}



.ls{
    list-style-type: none;
}

.box{
    height: 100px;
    background-color: #D2D4F2;
    margin-left: 0px;
    margin-top: 10px;

}
.posl{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    padding-left: 34px;
    padding-right: 62px;
    color: #1E1E1E;
    margin-top: 34px;
    width: 30px;
}
.lframe{
    margin-top:10px;
}
.limg{
    left: 130.79px;
    border-radius: 50%;
    margin-top: 14.5px;
    border-width: 6px;
      
}
.lname{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin-top: 34px;
    padding-left: 50px;
    width: 700px;
}
.lscore{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    right: 7%;
    margin-top: 34px;
    width: 40px;
    color: #000000;
}

.f{
    display: inline-flex;    
}